.ackrc
.coverage
.coverage
.DS_Store
.env
.idea
.env-prod
.env-test
.idea
.git/tags
.ignore
.vscode
*.sw*
*pyc
BASE_*
celery-beat.logs
celery.logs
celerybeat-schedule
celerybeat.pid
celeryd.pid
connect.sh
coverage.xml
db.sqlite3
htmlcov
ignore
postgresql
tags
get_receipt/auth
get_receipt/auth/auth.py